.nav
{
    display: flex;
    justify-content: space-between;
}
/* #nav-search
{
    flex:5;
    padding-right: 50em;
} */

#logo
{
    text-decoration: none;
    font-size: 2em;
}

#pageTop
{
    background-color: #284B63;
}

footer
{
    background-color: #284B63;
}

#socialMedia
{
    text-decoration: none;
}

#SocialMedia
{
    font-size: 3em;
    color:grey;
}

#AislesLink
{
    background-color: white;
    color:#0d6efd;
    border: 1px #0d6efd solid;
}

.btnCont
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBut
{
    background-color: white;
}

#newsletter
{
    color:white;
}

/* 
#navSearchBar
{
    width: 25em;
} */