.nav
{
    display: flex;
    justify-content: space-between;
}

#logo
{
    text-decoration: none;
    font-size: 2em;
}

#pageTop, footer
{
    background-color: #284B63;
}

#socialMedia
{
    text-decoration: none;
}

#CategoriesLink
{
    background-color: white;
    color:#0d6efd;
    border: 1px #0d6efd solid;
    padding: 7px;
}

#carousCaption1
{
    color: white;
}

#carousCaption
{
    color:black;
}

.menuBut
{
    background-color: #353535;
}

#newsletter
{
    color:white;
}

