.nav
{
    display: flex;
    justify-content: space-between;
}
#nav-search
{
    flex:500px;
    padding-right: 50em;
}

#logo
{
    text-decoration: none;
    font-size: 3em;
}

#SocialMedia
{
    font-size: 3em;
    color:grey;
}

#AislesLink
{
    background-color: white;
    color:#0d6efd;
    border: 1px #0d6efd solid;
}
/* 
#navSearchBar
{
    width: 25em;
} */